/* enlever les marges et paddings par défaut */
* { 
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* Variable couleur */
:root {
    --bg-color : #262626;
    --bg-second-color: #161616; 
    --bg-third-color: #060606;
    --text-color: #ffff;
    --active-color: #ff8f45;
    --actived-color: #ff6600;
    --bg-light-color: #555;
    --active-color-rgb: rgba(255,143,69,0.6);
    --white-shadow: rgb(255, 255, 255, 0.2);
    --black-shadow: rgb(0, 0, 0, 0.2);
    --font: Arial;
}

/* 

        parametrage niveau navigateur 

*/
    ::-webkit-scrollbar {
        width: 0.5vw; /* Largeur de la barre de défilement verticale */
    }
    
    ::-webkit-scrollbar-track {
        background: var(--bg-color); /* Couleur de l'arrière-plan de la piste de défilement */
        width: 0.2vw;
    }
    
    ::-webkit-scrollbar-thumb {
        background: var(--bg-color-second); /* Couleur de la poignée de défilement */
        border-radius: 5px; /* Coins arrondis pour la poignée */
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: var(--bg-light-color); /* Couleur de la poignée au survol */
    }

    ::selection {
        background-color: var(--bg-light-color);
        color: var(--active-color);
    }


/* body */
body {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}


/* 

        classe d'éléments redondant

*/
    /* liens et son annimation */
    .link {
        color: var(--active-color);
        font-size: 1.1rem;
        font-family: var(--font);
        transition: font-size 0.2s ease;
        text-decoration: none;
    }

    .link:hover {
        text-decoration: underline;
        font-size: 1.25rem;
    }
    .link:visited {
        color: var(--actived-color);
    }

    /* centrage de texte */
    .text-center {
        text-align: center;
    }

    .text {
        color: var(--text-color);
        font-family: var(--font);
    }

    .text-active {
        color: var(--active-color);
    }

    .text-bold {
        font-weight: bold;
    }


/* 

        MENU de navigation
        
*/
    nav.menu {
        position: fixed; /* Fixe la barre de navigation */
        top: 0;
        width: 100%;
    }
    nav.menu ul {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
        list-style-type: none; /* retire les points */
        background-color: var(--bg-second-color);
        /* box-shadow: 0px 0px 10px var(--white-shadow); */
        /* vertical | horizontal */
        padding: 2vh 0;
        
    }

    /* alligner image et texte */
    nav.menu ul li a{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        text-decoration: none; /* retire le soulignement */
        /* vertical | horizontal */
        margin: auto 1.5vw;
    }

    nav.menu ul li a h2 {
        font-size: 1.75rem;
        text-transform: uppercase;
    }

    /* taille des images du menu */
    nav.menu ul li a img {
        margin-right: 0.5vw;
        width: 1.75rem;
        height: 1.75rem;
    }

    /* couleur du lien actif */
    nav.menu ul li.active a h2 {
        color: var(--active-color);
    }

    /* pointeur de la souris différent car il est déjà sur la page*/
    nav.menu ul li.active a{
        cursor: alias; /*donne l'impression de recharger la page*/
    }

    /* transition du texte et de l'image */
    nav.menu ul li a h2 {
        transition: color 0.2s ease;
    }

    nav.menu ul li a img {
        transition: transform 0.2s ease;
    }


    /* modification de transition au survol de la souris */
    nav.menu ul li.none-active a:hover h2 {
        color: var(--active-color);
    }
    nav.menu ul li a:hover img {
        transform: scale(1.25);
    }


/* 

        Header

*/
    header {
        /* vertical | horizontal */
        margin: 11vh auto 5vh auto;
    }
    header h1 {
        font-size: 3.5rem;
        text-shadow: 0px 0px 10px var(--active-color-rgb);
    }

/* 

        section et article

 */
    section {
        /* vertical | horizontal */
        margin: auto 10vw;
        padding: 5vh 0;
        background-color: var(--bg-second-color);
        border-radius: 10px;
        box-shadow: 0px 0px 15px var(--white-shadow);
    }
    
    section h3 {
        font-size: 2.5rem;
        text-decoration: underline dashed;
        text-underline-offset: 0.5vh;
    }

    section article {
        /* vertical | horizontal */
        margin: 5vh 5vw;
        padding: 2vh 2vw;
        background-color: var(--bg-third-color);
        box-shadow: 0px 0px 15px var(--black-shadow);
    }

    /* titre des article */
    section article h4 {
        font-size: 1.5rem;
        padding-bottom: 2vh;
        text-decoration: underline;
        text-underline-offset: 0.4vh;
    }

    .github-image a{
        text-decoration: none;
    }
    
    /* image github et son animation*/
    .github-image a img{
        width: 50vw;
        margin-bottom: 1vh;
        transition: width 0.2s ease, border 0.2s ease;
    }

    .github-image a:hover img {
        width: 52.5vw;
        border: var(--active-color) 5px solid;
        border-radius: 10px;
    }

    /* changer couleur du lien car deja visite */
    .github-image a:visited:visited img {
        width: 52.5vw;
        border: var(--actived-color) 5px solid;
        border-radius: 10px;
    }

    /* on s'occupe aussi du lien car il travail avec l'image */
    .github-image a span {
        color: var(--active-color);
        font-size: 1.1rem;
        font-family: var(--font);
        transition: font-size 0.2s ease;
    }

    .github-image a:hover span {
        text-decoration: underline;
        font-size: 1.25rem;
    }
    .github-image a:visited span{
        color: var(--actived-color);
    }

    /* liste chiffré */
    .sommaire {
        list-style-type: decimal;
        padding-left: 3vw;
    }

    /* sous-liste carre */
    .sommaire ul {
        list-style-type: square;
        padding-left: 4vw;
    }


    .sommaire>li {
        font-size: 1.3rem;
        padding: 0.5vh 0;
    }


/* Footer */
    footer {
        margin: 5vh auto;
    }

    footer p{
        font-size: 1.1rem;
    }



/* Media queries pour le responsive equivalent sm bootstrap*/
@media screen and (max-width: 992px){
    header h1 {
        font-size: 3rem;
    }

    nav.menu ul li a h2 {
        font-size: 1.5rem;
    }

    nav.menu ul li a img {
        width: 1.5rem;
        height: 1.5rem;
    }

    section h3 {
        font-size: 2rem;
    }
    section article h4 {
        font-size: 1.25rem;
    }
}

/* Media queries pour le responsive 768px equivalent sx bootstrap*/
@media screen and (max-width: 768px) {
    .link {
        font-size: 1rem;
    }
    
    .link:hover {
        font-size: 1.1rem;
    }

    header h1 {
        font-size: 2.5rem;
    }
    
    nav.menu ul li a h2 {
        font-size: 1rem;
    }

    nav.menu ul li a img {
        width: 1rem;
        height: 1rem;
    }

    nav.menu ul li a:hover img {
        transform: scale(1.35);
    }
    
    section h3 {
        font-size: 1.5rem;
    }

    .github-image a span {
        font-size: 1rem;
    }

    .github-image a:hover span {
        font-size: 1.1rem;
    }
}

/* Media queries pour le responsive portrait (telephone)*/
@media (orientation : portrait) {
    @media screen and (max-width: 768px) {
        .link {
            font-size: 3vw;
        }
        
        .link:hover {
            font-size: 3.5vw;
        }
    
        header {
            margin-top: 14vh;
        }

        header h1 {
            font-size: 7.5vw;
        }

        nav.menu ul li a {
            flex-direction: column;
            align-items: center;
            margin: auto 3vw;
        }

        nav.menu ul li a h2 {
            font-size: 3vw;
            margin-top: 1vh;
        }
        
        section h3 {
            font-size: 4.5vw;
        }

        section article h4 {
            font-size: 4vw;
            padding-bottom: 0.5vh;
        }

        section article {
            padding: 2vh 4vw;
        }
        
        .sommaire {
            padding-left: 7.5vw;
        }

        .sommaire ul {
            padding-left: 9vw;
        }

        .sommaire>li {
            font-size: 3vw;
            padding: 1vh 0;
        }

        /* github image pas tres importante et prends beaucoup de place sur telephone donc on enleve*/
        .github-image a img{
            display: none;
        }

        .github-image a span {
            font-size: 3vw;
        }
    
        .github-image a:hover span {
            font-size: 3.5vw;
        }

        footer p {
            font-size: 3vw;
        }
    }
}